@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ahorcado</h1>
    <p>Completa el juego. Tienes 10 intentos</p>
</div>

@foreach (char l in ViewBag.palabra){
    <label>_</label>
}
<br>
<label for="inputLetra">Ingresar letra: </label>
<input type="text" id="inputLetra">