@{
    ViewData["Title"] = "Home Page";
}

<div class="juego">
    <h1>Juego del Ahorcado</h1>
    <p>
        Bienvenido al clásico juego del Ahorcado. Tu objetivo es adivinar la palabra
        oculta ingresando una letra por vez. Cada vez que aciertes, la letra se
        revelará en la palabra; si te equivocas, perderás una oportunidad. ¡Intentá
        descubrir la palabra antes de quedarte sin intentos!
    </p>
    <br>
    <div id="palabraEscrita">@ViewBag.palabraGuiones</div>
    <input type="hidden" id="palabraOculta" value="@ViewBag.palabraOculta">

    <label for="inputLetra">Ingresar letra: </label>
    <input type="text" id="inputLetra"  maxlength="1">

    <button id="botonArriesgar" onclick="ArriesgarLetra()">Arriesgar letra</button>
    <div>
        Vidas restantes: <label id="vidasRestantes">10</label>
    </div>
    <div id="mensajeFinal"></div>
</div>

<div class="juego">
    <h1>Agregar Palabra</h1>
    <p>
        En esta sección te damos la posibilidad de agregar una palabra que vos quieras.
    </p>
    <br>
    <form action="@Url.Action("AgregarPalabra", "Home")" method="POST">
        <label for="palabraUsuario">Ingresar Palabra: </label> <br>
        <input type="text" id="palabraUsuario" name="palabra">
        <button type="submit">Agregar palabra</button>
    </form>
</div>
