html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#palabraEscrita {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.juego{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    padding: 3%;
    background-color: rgb(243 243 243);;
    box-shadow: 7px 11px 20px grey;
    border-radius: 12px;
}
