USE [master]
GO
/****** Object:  Database [Palabras]    Script Date: 11/6/2026 09:02:10 ******/
CREATE DATABASE [Palabras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Palabras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Palabras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Palabras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Palabras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Palabras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Palabras]
GO
/****** Object:  User [alumno]    Script Date: 11/6/2026 09:02:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 11/6/2026 09:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[id] [int] NOT NULL,
	[palabra] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (1, N'RINOCERONTE')
INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (2, N'SARDINAS')
INSERT [dbo].[Palabras] ([id], [palabra]) VALUES (3, N'EBULLICIÓN')
GO
USE [master]
GO